// COLORS
$color-primary: #333333;
$color-hd-bg: #105caa;
$color-gray:#999;
$color-be:#bebebe;
$color-4242:#424242;

// Container
$width-container: 1200px;
$p-container: 30px;

// FONTS
$font-poppins: 'Poppins', sans-serif;
$font-roboto: 'Roboto', sans-serif;