.hero {
  font-family: $font-poppins;
  position: relative;
  z-index: 0;
  &__icons {
    top: 45%;
    width: 4%;
    height: 12%;
    background-color: #111;
  }
  .hero__groups {
    position: relative;
  }
  &__des {
    position: absolute;
    bottom: 25%;
    left: 6%;
    z-index: 999;
  }
  &__img {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    transform: scale(1.2);
    object-fit: cover;
  }
  &__text-color {
    font-size: 30px;
    color: #1477dd;
    font-weight: 900;
  }
  &__dollor {
    font-size: 25px;
  }
  &__title {
    font-size: 38px;
    color: #000;
    font-weight: 900;
    margin-bottom: 18px;
  }
  &__text {
    max-width: 492px;
    font-size: 13px;
    margin-bottom: 60px;
  }
  &__btn {
    padding: 15px 39.57px;
    font-family:$font-roboto;
    font-size: 11px;
    color: #fff;
    font-weight: 700;
    border-radius: 40px;
    transition: all 0.2s ease;
  }
  .hero__iconss {
    margin-right: 10px;
  }
  .hero__dess {
    position: absolute;
    z-index: 999;
    left: 26%;
    top: 10%;
  }
  .hero__texts {
    width: 660px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 24px;
    color: $color-4242;
  }
  .hero__btn-two {
    background-color: #f8891b;
    &:hover {
      background-color: $color-hd-bg;
    }
  }
  .hero__text-color-two {
    color: #da465b;
  }
  .hero__btn-three {
    background-color: #da465b;
  }
}
  .hero__title-one {
    animation-name: one-title;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  .hero__text-one {
    animation-name: one-text;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  .hero__text-color-one {
    animation-name: text-color-one;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  .hero__btn-one {
    animation-name: btn-one;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    display: inline-block;
  }
  @keyframes one-title {
    0% {
      transform: translateX(0);
      opacity: 0;
    }
    25% {
      transform: skew(17deg, 0deg);
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes one-text {
    0% {
      transform: translateX(0);
      opacity: 0;
    }
    25% {
      transform: skew(17deg, 0deg);
    }
    50% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes text-color-one {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    25% {
      transform: skew(17deg, 0deg);
    }
    50% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes btn-one {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .hero__title-two {
    animation-name: title-two;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  .hero__text-two {
    animation-name: text-two;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
  .hero__btn-two {
    animation-name: btn-two;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
  @keyframes title-two {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes text-two {
    0% {
      transform: translateX(400px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes btn-two {
    0% {
      transform: translateX(-400px);
      opacity: 0;
    }
    75% {
      transform: skew(17deg, 0);
    }
    100% {
      transform: translateX(0);
    }
  }
  @media screen and (max-width :1114px) {
      .hero__img {
        transform: scale(1.3);
      }
  }
  @media screen and (max-width: 1100px) {
    .hero {
      .hero__dess {
        left: 20%;
      }
    }
    
  }
  @media screen and (max-width :990px) {
      .hero {
        .hero__dess {
          left: 17%;
        }
      }
  }
  @media screen and (max-width:900px) {
      .hero {
        .hero__des {
            bottom: 5%;
        }
  }
  @media screen and (max-width: 842px) {
      .hero {
        .hero__dess {
          left: 12%;
        }
      }
  }
@media screen and (max-width: 768px) {
    .hero__des {
      display: none;
    }
    .hero__dess {
      display: none;
    }
  }
}