/* Style the buttons that are used to open the tab content */
.product {
  padding-top: 66px;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.product__title {
  font-size: 26px;
  font-family: $font-poppins;
  font-weight: 600;
  color: #222;
}
.product__text {
  font-family: $font-roboto;
  font-size: 13px;
  font-weight: 400;
  color: $color-666;
  line-height: 20px;
  width: 44%;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.product__link {
  font-family: $font-roboto;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding: 11px 25px;
  border-radius: 40px;
  margin-right: 10px;
  transition: all 0.2s ease;
  &:hover {
    background-color: $color-hd-bg;
    color: #fff;
  }
}
.tabcontent {
  margin-top: 50px;
}
.product__link--active {
  background-color: $color-hd-bg;
  color: #fff;
}
.product__item {
  width: 355px;
  height: 355px;
  position: relative;
  margin-bottom: 16px;
  margin-right: 15px;
}
.product__img-one {
  display: block;
  max-width: 100%;
  height: auto;
  opacity: 1;
}
.product__img-two {
  max-width: 100%;
  height: auto;
  display: none;
  opacity: 0;
  position: relative;
  z-index: 1000;
}
.product__item:hover .product__img-one {
  display: none;
  opacity: 0;
  position: relative;
  z-index: 100;
}
.product__item:hover .product__img-two {
  display: block;
  opacity: 1;
}
.product__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -15px;
  z-index: 10000;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  visibility: hidden;
  box-shadow:  0 0 2rem rgba(0,0,0,.15);
}
.product__item:hover::before {
  width: calc(100% + 30px);
  height: calc(100% + 203px);
  visibility: visible;
  z-index: 1000;
}

.product__btnss {
  position: absolute;
  bottom: 40px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.product__btn {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin-right: 10px;
  font-size: 20px;
  padding: 0;
  color: $color-666;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background-color: $color-hd-bg;
    color: #fff;
  }
}
.product__btn-one {
  transform: translateY(60px);
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.product__btn-two {
  transform: translateY(80px);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.2s ease;
}
.product__item:hover .product__btn-one {
  transform: translateY(0);
  opacity: 1;
}
.product__item:hover .product__btn-two {
  transform: translateY(0);
  opacity: 1;
}
.product__sale {
  position: absolute;
  right: 20px;
  width: 100%;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
}
.product__sale-link {
  font-family: $font-poppins;
  font-size: 13px;
  font-weight: 500;
  color: #444;
  display: inline-block;
  margin: 15px 0 8px;
}
.product__sale-icons {
  font-size: 10px;
  color: #ccc;
  margin-bottom: 15px;
}
.product__sale-text {
  font-family: $font-poppins;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  margin-bottom: 19px;
}
.product__sale-btn {
  padding: 11.5px 35px;
  background-color: #f2f2f2;
  font-family: $font-poppins;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 40px;
  color: #444;
  &:hover {
    background-color: $color-hd-bg;
    color: #fff;
  }
}
.bags {
  margin-right: 10px;
}
.product__item:hover .product__sale {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 360px) {
  .product__list {
    margin: 0;
    padding: 0;
  }
  .product__link {
    padding: 5px 10px;
    font-size: 8px;
  }
  .product__item:hover .product__btn-one {
    transform: translateY(-50px);
  }
  .product__item:hover .product__btn-two {
    transform: translateY(-50px);
  }
}